@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Unbounded:wght@200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fredoka:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #0E1014;
}
.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
}

.cabecalho-darkmode img{
    width: 30px;
}

.cabecalho-darkmode img:hover{
    cursor: pointer;
}

main{
    background-color: #0E1014;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
     
}

.principal{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    text-align: center;  
    align-items: center; 
    color: #F5F5F5 ;
    
}

h1{
    font-family: 'Unbounded', sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
    
}

h1 span{
    color: #9747FF;
}

.box-texto{
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    justify-content: center;
    width: 570px;
    height: 260px;
    gap: 15px;
    
}

.box-texto p{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: auto;
    
}

.botao{ 
    width: 360px;
    height: 66px;
}
a{
    text-decoration: none;
    border: #9747FF;
    background-color: #9747FF;
    border-radius: 50px;
    padding: 10px 20px;  
    color: #F5F5F5;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    
}
a:hover{
    background-color: #F5F5F5;
    color:#9747FF;
}

img{
    width: 80%;
   
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    
    .cabecalho-logo{
        width: 100px;
    }
    .cabecalho-darkmode img{
        width: 18px;
    }
    .main{
        height: 100vh;
    }
    .box-texto{
        width: 450px;
        height: 200px;
        gap: 20px
    }
    .box-texto h1{
        line-height: 40px;
        font-size: 36px;
    }
    .box-texto p{
        font-size: 14px;
    }

    a{
        padding: 4px 8px;
        font-size: 14px;
    }

    img{
        width: 100%;
    };
}
@media screen and (min-width: 300px) and (max-width: 767px){
    .cabecalho-logo{
        width: 50px;
    }
    .cabecalho-darkmode img{
        width: 12px;
    }
    main{
        height: 100vh;
    }
    .principal{
        gap: 50px;
    }
    .box-texto{
        margin-top: 50px;
        width: 180px;
        height: 90px;
        gap: 20px
    }
    .box-texto h1{
        line-height: 20px;
        font-size: 18px;
    }
    .box-texto p{
        font-size: 8px;
    }

    a{
        padding: 2px 6px;
        font-size: 8px;
    }

    img{
        width: 60%;
    };
}
